<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    <%= title %>
                </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">

                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">

        <div class="col-xl-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4 class="mt-0 m-b-30 header-title">
                        <%= title %>
                    </h4>

                    <div class="table-responsive">
                        <table class="table table-vertical mb-1">
                            <thead>
                                <th>Name</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <% genres?.forEach(function(genre){ %>
                                    <%- `<tr>
                                            <td>
                                                ${genre.name}
                                            </td>
                                            <td>
                                                <a href="${MAIN_URL + "/admin/genres/edit/"+genre._id}"
                                                    class="btn btn-secondary waves-effect waves-light mr-1">Edit</a>
                                                   
                                                    <form class="d-inline-block" method="POST" action="${MAIN_URL +'/admin/genres'}">
                                                        <input name="action" type="hidden" value="delete"/>
                                                        <input name="_id" type="hidden" value="${genre._id}"/>
                                                        <button type="submit"
                                                        class="btn btn-danger waves-effect waves-light">Delete</button>
                                                    </form>
                                            </td>
                                            </tr>`;
                                            %>
                                        <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>
<!-- container-fluid -->