<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../containers/head");%>
</head>

<body>

    <!-- Begin page -->
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="<%= MAIN_URL %>/admin" class="logo logo-admin"><img src="<%= MAIN_URL %>/logo.svg" height="100" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="font-18 m-b-5 text-center">Login</h4>
                    <p class="text-center">Please enter your username and password to login.</p>

                    <form id="loginForm" class="form-horizontal m-t-30" action="/users/login" method="POST">

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>

                        <div class="form-group row m-t-20">
                            <!-- <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                </div>
                            </div> -->
                            <div class="col-12 text-right">
                                <button class="btn btn-primary btn-block w-md waves-effect waves-light" type="submit">ورود</button>
                            </div>
                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <!-- <div class="col-12 m-t-20">
                                <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> رمز خود را فراموش کردید؟</a>
                            </div> -->
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p> <i class="mdi mdi-copyright text-dark"></i> 1400 <span class="d-none d-sm-inline-block">All rights reserved for FC Motivate. Design by: <a class="text-white" href="https://cactusgroup.ir" target="_blank">CACTUS</a></span>.
            </p>
        </div>

    </div>

    <%-include("../containers/footerLinks");%>

</body>

</html>