<footer class="footer">
    <i class="mdi mdi-copyright text-dark"></i>© 1400 <span class="d-none d-sm-inline-block">All rights reserved for FC Motivate. Design by: <a class="text-white" href="https://cactusgroup.ir" target="_blank">CACTUS</a></span>.
</footer>